*.class


# Intellij idea

.idea
*.iml


# Eclipse


*.pydevproject
.project
.metadata
target/
*.class
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Package Files #
*.jar
*.war
*.ear
